In [29]:
import pandas as pd

In [32]:
df = pd.read_csv('2013-07_Citi_Bike_trip_dane_podstawowe_part_2.csv')

In [31]:
filt = list(pd.read_csv("Manhattan_stations (2023ukr).csv")['station id'])

In [24]:
df2 = pd.DataFrame(columns=df.columns)

In [28]:
for i in range(df.shape[0]):
    if df.iloc[i]['start station id'] in filt and df.iloc[i]['end station id'] in filt:
        p = pd.Series(list(df.iloc[i]), index=df2.columns)
        df2.loc[df2.shape[0]] = p

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,154,19/07/2013 15:36,19/07/2013 15:38,212,W 16 St & The High Line,40.743349,-74.006818,280,E 10 St & 5 Ave,40.73332,-73.995101,15041,Subscriber,1963,1
1,1093,19/07/2013 15:36,19/07/2013 15:54,285,Broadway & E 14 St,40.734546,-73.990741,153,E 40 St & 5 Ave,40.752062,-73.981632,17774,Subscriber,1980,1
2,192,19/07/2013 15:36,19/07/2013 15:39,293,Lafayette St & E 8 St,40.730287,-73.990765,445,E 10 St & Avenue A,40.727408,-73.98142,15799,Subscriber,1989,1
3,1556,19/07/2013 15:36,19/07/2013 16:02,195,Liberty St & Broadway,40.709056,-74.010434,325,E 19 St & 3 Ave,40.736245,-73.984738,17780,Subscriber,1951,1
4,1361,19/07/2013 15:36,19/07/2013 15:58,514,12 Ave & W 40 St,40.760875,-74.002777,2021,W 45 St & 8 Ave,40.759291,-73.988597,19312,Customer,\N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85549,612,21/07/2013 14:20,21/07/2013 14:30,435,W 21 St & 6 Ave,40.74174,-73.994156,238,Bank St & Washington St,40.736197,-74.008592,18735,Subscriber,1976,1
85550,503,21/07/2013 14:20,21/07/2013 14:29,380,W 4 St & 7 Ave S,40.734011,-74.002939,435,W 21 St & 6 Ave,40.74174,-73.994156,19563,Subscriber,1976,1
85551,1746,21/07/2013 14:20,21/07/2013 14:49,475,E 16 St & Irving Pl,40.735243,-73.987586,457,Broadway & W 58 St,40.766953,-73.981693,18677,Subscriber,1976,1
85552,126,21/07/2013 14:20,21/07/2013 14:22,151,Cleveland Pl & Spring St,40.721816,-73.997203,268,Howard St & Centre St,40.719105,-73.999733,16902,Subscriber,1977,1
85553,810,21/07/2013 14:20,21/07/2013 14:34,380,W 4 St & 7 Ave S,40.734011,-74.002939,434,9 Ave & W 18 St,40.743174,-74.003664,17504,Customer,\N,0

In [ ]:
df2.to_csv('Only_Manhattan.csv')